<style>
.clearArea {
	margin-top: 5px;
	margin-bottom: 5px;
	margin-right: 5px;
}
</style>
<script>
	function save() {
		google.script.run.withSuccessHandler(function() {
			google.script.host.close();
		}).withFailureHandler(function(msg, element) {
			showError(msg, $('#button-bar'));
		}).withUserObject(this).saveSettings($('#user').val(), $('#api').val());
	}

	function load() {
		google.script.run.withSuccessHandler(setUserName).getUserName();
		google.script.run.withSuccessHandler(setApiKey).getApiKey();
	}

	function setUserName(name) {
		$('#user').val(name)
	}

	function setApiKey(apiKey) {
		$('#api').val(apiKey)
	}
	load();
</script>
<div>
	Username
	<div class=clearArea>
		<input type="text" id="user" value="" />
	</div>
	API-Key
	<div class=clearArea>
		<input type="text" id="api" value="" />
	</div>
	<input type="button" id="save" value="Save settings" onclick="save()" />
	<input type="button" id="close" value="Cancel"
		onClick="google.script.host.close()" />
</div>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>